<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @article.descrip %>
</p>

<p>
  <strong>User created:</strong>
  <%= @article.user_created %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @article.user_updated %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
