<!DOCTYPE html>
<html>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

  <head>
    <title>Calendario</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		  <%= link_to 'Editar Usuario', edit_user_registration_path %> |
		  <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Registrarse", new_user_registration_path %> |
		  <%= link_to "Iniciar Sesion", new_user_session_path %>
		<% end %>

    <%= yield %>
  </body>
</html>
